.value {
  font-size: 1em;
  /* margin-right: 5px; */
  /* margin: 4px; */
  /* padding: 2px 9px 3px 3px; */
  background: @bg1;
}

.icon {
  font-size: 2em;
  /* margin-left: 5px; */
  /* margin: 4px; */
  /* padding: 2px 7px 3px 0px; */
  color: @bg;
  background: @fg;
}

