@define-color bg #1f2329;
@define-color bg1 #282c34;
@define-color bg2 #30363f;
@define-color bg3 #323641;
@define-color bg_blue #61afef;
@define-color bg_d #181b20;
@define-color bg_yellow #e8c88c;
@define-color black #0e1013;
@define-color blue #4fa6ed;
@define-color cyan #48b0bd;
@define-color dark_cyan #266269;
@define-color dark_purple #7e3992;
@define-color dark_red #8b3434;
@define-color dark_yellow #835d1a;
@define-color fg #a0a8b7;
@define-color green #8ebd6b;
@define-color grey #535965;
@define-color light_grey #7a818e;
@define-color orange #cc9057;
@define-color purple #bf68d9;
@define-color red #e55561;
@define-color yellow #e2b86b;

* {
  font-family: "JetBrainsMono NFP";
  font-weight: 600;
  font-size: 16px;
}

window#waybar {
  background-color: @bg;
}

#custom-appmenu {
  background-color: @blue;
  color: @bg;
  font-size: 1.6em;
}

#custom-powermenu {
  background-color: @red;
  color: @bg;
  font-size: 1.4em;
}

#workspaces {
  margin: 0 1mm;
}

#workspaces button {
  border-radius: 0px;
  background-color: @bg2;
  border-bottom: 3px solid @fg1;
  margin-left: 3px;
  margin-right: 3px;
  color: @fg;
}

#workspaces button:hover {
  color: #1e1e2e;
  background-color: #cdd6f4;
}

#workspaces button:not(.empty) {
  border-bottom: 3px solid @green;
}

#workspaces button.active {
  border-bottom: 3px solid @blue;
  color: @blue;
}


window#waybar.empty #window {
  background-color: transparent;
  color: transparent;
}

#window {
  padding: 0 1mm;
  margin: 0 1mm;
  color: @fg;
}

#services,
#infos,
#state {
  border-bottom: 3px solid @green;
  background-color: @bg2;
  margin: 0 7px 0 0;
  padding: 0 3px;
  color: @fg;
}

#services:hover,
#infos:hover,
#state:hover {
  border-bottom: 3px solid @blue;
}

#backlight,
#pulseaudio,
#cpu,
#harddisk,
#tray,
#custom-notification,
#clock,
#privacy,
#custom-harddisk,
#memory{
  margin: 0 7px;
}

tooltip {
  background-color: @bg;
  border: 2px solid @fg;
}
